## Mean, Mode, and Median

In [1]:
# -*- coding: utf-8 -*-

import csv
print("I worked!")

I worked!

In [2]:
i = 0

## List to hold sub sample
data_list = []
with open('data/usa.csv', newline='') as myFile:
    data = csv.reader(myFile)
    for row in data:
#        print(i, row)
        i += 1
        data_list.append(row)
        
        # size of our sample
        if i > 30000:
            break

In [3]:
import pandas as pd

df = pd.read_csv("data/usa.csv", nrows = 30000)
df.head()

   SEX  AGE  RACE  RACED  EDUC  EDUCD  INCTOT
0    1   73     2    200     2     25   10000
1    2   31     1    100    10    101   38500
2    1   41     1    100     6     64   82000
3    2   48     1    100     6     63    8700
4    1   16     1    100     4     40       0

### Mean

In [4]:
## The average calculation:
# Sum all of the data points of a variables and divide by the number of points

print(data_list[0])

# ['SEX', 'AGE', 'RACE', 'RACED', 'EDUC', 'EDUCD', 'INCTOT']
# [ 0      1       2        3        4       5        6]

sumTotal = 0
sampleSize = 0
for row in data_list[1:]:
    if int(row[6]) != 9999999:
        sumTotal = int(row[6]) + sumTotal
        sampleSize += 1
#     print(row)
average = sumTotal / sampleSize
print(average)

['SEX', 'AGE', 'RACE', 'RACED', 'EDUC', 'EDUCD', 'INCTOT']
34690.20592829962

Average Income = 1707201.1985333334 ---- Is this correct? <br> 
Ans: No -- Some issues

#### Fix
Add if statement to negelect income equals 9999999

Ans: 34690.20 -- More realistic

### Mode

How the race variable is coded?

In [5]:
## Get the different races
df['RACE'].value_counts()

1    22068
2     6523
8      478
6      314
7      305
3      158
4       73
9       43
5       38
Name: RACE, dtype: int64

In [6]:
white = 0 #1
black = 0 #2
american_indian = 0 #3
chinese = 0 #4
japanese = 0 #5
other_asian = 0 #6
other_race = 0 #7
two_races = 0 #8
three_races = 0 #9

for row in data_list[1:]:
    
    if row[2] =='1':
        white += 1
    if row[2] == '2':
        black += 1
    if row[2] == '3':
        american_indian += 1
    if row[2] == '4':
        chinese += 1
    if row[2] == '5':
        japanese += 1
    if row[2] == '6':
        other_asian += 1
    if row[2] == '7':
        other_race += 1
    if row[2] == '8':
        two_races += 1
    if row[2] == '9':
        three_races += 1
        
mode = max(white, black, american_indian, chinese, japanese, 
           other_asian, other_race, two_races, three_races )
print('Race counts: ', white, black, american_indian, chinese, japanese, 
           other_asian, other_race, two_races, three_races)
print('Mode: ', mode)

Race counts:  22068 6523 158 73 38 314 305 478 43
Mode:  22068

In [7]:
df['RACE'].mode()

0    1
dtype: int64

### Median

In [8]:
medianEdu = 0
def takeFourth(elem):
    return elem[4] #4 is edu

data_list.sort(key=takeFourth)
# print(data_list)
sampleSize = len(data_list)
middle = sampleSize/2
medianEdu = data_list[int(round(middle))]
print("Median of Education: ", medianEdu[4])

Median of Education:  6

#### 6 is grade 12

In [9]:
df['EDUC'].median()

6.0

In [10]:
medianIncome = 0
def takeSixth(elem):
    return elem[6] #6 is Income

data_list.sort(key=takeSixth)
# print(data_list)
sampleSize = len(data_list)
middle = sampleSize/2
medianIncome = data_list[int(round(middle))]
print("Median of Education: ", medianIncome)

Median of Education:  ['1', '38', '1', '100', '6', '63', '35000']

In [11]:
df['INCTOT'].median()

29800.0