## Range, Interquartile Range, Variance, and Standard Deviation

In [2]:
import csv

i = 0

## List to hold sub sample
data_list = []
with open('data/usa.csv', newline='') as myFile:
    data = csv.reader(myFile)
    for row in data:
#        print(i, row)
        i += 1
        data_list.append(row)
        
        # size of our sample
        if i > 30000:
            break

In [4]:
import pandas as pd

df = pd.read_csv("data/usa.csv", nrows = 30001)
df.head()

   SEX  AGE  RACE  RACED  EDUC  EDUCD  INCTOT
0    1   73     2    200     2     25   10000
1    2   31     1    100    10    101   38500
2    1   41     1    100     6     64   82000
3    2   48     1    100     6     63    8700
4    1   16     1    100     4     40       0

### Range

In [6]:
justIncome = []
for row in data_list[1:]:
    if int(row[6]) != 9999999:
        justIncome.append(int(row[6]))

minIncome = min(justIncome)
maxIncome = max(justIncome)

rangeIncome = maxIncome - minIncome
print('Income Range: ', rangeIncome, 'which is between', minIncome, 'and', maxIncome)

Income Range:  736800 which is between -5800 and 731000

### Interquartile Range

In [9]:
sortedData = []
for row in data_list[1:]:
    if int(row[6]) != 9999999:
        sortedData.append(int(row[6]))
        
sortedData.sort()
# print(sortedData)
sampleSize = len(sortedData)

q1 = sampleSize*0.25
q2 = sampleSize*0.5
q3 = sampleSize*0.75
median = sortedData[round(q2)]
q1Income = sortedData[round(q1)]
q3Income = sortedData[round(q3)]

iqr = q3Income - q1Income
print('Interquartile Range: ', iqr)

print('Median: ', median)
print('25th percentile: ', q1Income)
print('75th percentile: ', q3Income)

Interquartile Range:  36200
Median:  21500
25th percentile:  8800
75th percentile:  45000

## Variance

In [13]:
# start with the average mean
totalSumIncome = 0
for row in sortedData:
    totalSumIncome =  row + totalSumIncome

mean = totalSumIncome / sampleSize
print('Mean: ', mean)

sumOfSquares = 0
for row in sortedData:
    deviationScore = row - mean
    sumOfSquares = (deviationScore*deviationScore) + sumOfSquares

print("Sum of Squares: ", sumOfSquares)

variance = sumOfSquares / (sampleSize-1) # -1 gives degrees of freedom
print("Variance: ", variance)

Mean:  34690.20592829962
Sum of Squares:  59042673430866.73
Variance:  2365112699.521981

## Standard Deviation

In [15]:
import math
SD = math.sqrt(variance)
print('Standard Deviation of Income: ', SD)

Standard Deviation of Income:  48632.42436401851